*{ 
    box-sizing: content-box;  
}

body{     
    background-image:url('../../src/img/bonhomme.jpg');
    background-size: 100vw 100vh;  
    background-repeat: no-repeat;    
    margin: auto;     
    font-size:16px;  
    font-family:Lato;
} 

#title{
    text-align: center;
}

li{
    list-style: none;
}