body{
    background-color: #B6D8F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#title{
    text-align: center;
}

#graphContainer{
    border:1px solid black;
    margin:auto;
    text-align: center;
    background-color: #F7F6CF;   
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center; 
    padding:5px;  
    font-size :16px;      
    background-color: #5784BA;    
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }

.bar{
    fill: #9AC8EB;   
    &:hover {
    fill: #DB6A8F;
  }
}